<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand companyName" routerLink="/" routerLinkActive="active">Payment SDK Avianca</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/modulo-web" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Componente 1 - Modulo: platform-browser <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modulo-server" >Componente 2 - Modulo: platform-server</a>
      </li>
    </ul>
    <!--<ul class="navbar-nav mr-2" *ngIf="user != null && user.data != null">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.data.name}}
        </a>
        <div class="dropdown-menu user-info" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/products" routerLinkActive="active">Mi cuenta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
        </div>
      </li>
    </ul>-->
  </div>
</nav>

<!-- main app container -->
<div class="app-container">
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
  <p>
    &copy;<span>{{fecha}} by</span>&nbsp;
    <span><a href="https://github.com/rbolanoherrera" target="_blank">Rafael Bolaños Herrera</a></span>
  </p>
</div>
